
$("form.investment").on('ajax:success', function (event, data, status) {
    console.log("success");
    $(this).trigger('reset');
    $("#newInvestmentModal").modal('hide');

    var newRow = '<tr>' +
        '<td><%= @investment.investment_date %></td>'+
        '<td>&#8377; <%= @investment.investment_amount %> </td>'+
        '<td><%= @investment.interest_rate %> %</td>'+
        '<td>&#8377; <%= @investment.last_month_interest %> </td>'+
        '<td>&#8377; <%= @investment.current_month_interest %> </td>'+
        '<td>&#8377; <%= @investment.total_payable_amount %> </td>'+
        '<td><%= @investment.last_return_date %></td> ' +
        '<td><%= @investment.created_by %></td> ' +
        '<td><button class="btn btn-primary btn-sm btn-block" id="investment_return-<%= @investment.id %>" '+
              'data-toggle="modal" data-inv-id="<%= @investment.id %>" data-target="#newInvestmentReturnModal">Return</button></td> '+
        '<td><button class="btn btn-primary btn-sm btn-block" id="investment_return_details-<%= @investment.id %>">Details</button></td>'+
        '</tr>';


        $("#investorTableBody").append(newRow).hide().fadeIn('slow');

});
$('#investment_return-<%= @investment.id %>').on('click', function () {
    //get data-id attribute of the clicked element
    var investmentId = $(this).data('inv-id');
    //populate the textbox
    $("#investment_id").val(<%= @investment.id %>);
});
$("form.investment").on('ajax:error', function (event, data, status) {
    console.log("error");
});