<%- model_class = ContractualLabour -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @contractual_labour.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contract_name) %>:</strong></dt>
  <dd><%= @contractual_labour.contract_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contractor_id) %>:</strong></dt>
  <dd><%= @contractual_labour.contractor_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @contractual_labour.quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit) %>:</strong></dt>
  <dd><%= @contractual_labour.unit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rate) %>:</strong></dt>
  <dd><%= @contractual_labour.rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @contractual_labour.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= @contractual_labour.created_by %></dd>
  <dt><strong><%= model_class.human_attribute_name(:site_id) %>:</strong></dt>
  <dd><%= @contractual_labour.site_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              contractual_labours_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contractual_labour_path(@contractual_labour), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              contractual_labour_path(@contractual_labour),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
