<%- model_class = PaymentDetail -%>
<% @booking_detail = BookingDetail.find(params[:booking_id]) %>
<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-2">
        <%= link_to booking_detail_path(params[:booking_id]) do %>
            <i class="glyphicon glyphicon-arrow-left btn btn-warning btn-sm"></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4><strong><%= 'Payment Details'.upcase %></strong></h4>
      </div>

    </div>
    <div class="col-md-6">
      <h4><strong>Customer Name: <%= @booking_detail.customer_name.upcase %></strong></h4>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Sr.No.</td>
      <td>Date</td>
      <td>Payment Type</td>
      <td>Description</td>
      <td>Amount</td>
    </tr>
  </thead>
  <% count = 0 %>
  <tbody>
    <% @booking_detail.payment_details.each do |payment_detail| %>
      <tr>
        <td><%= count = count+1 %></td>
        <td><%= payment_detail.created_at %></td>
        <td><%= payment_detail.payment_type %></td>
        <td><%= payment_detail.payment_desc %></td>
        <td><%= payment_detail.payable_amount %></td>
        <td>
          <%= link_to 'Delete',
                      {controller: 'payment_details', action: 'destroy', id: payment_detail.id},
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-sm'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<div class="row">
  <div class="col-md-6 pull-right">
    Total Amount Paid : <%= @booking_detail.paid_amount %>
  </div>
</div>