<%- model_class = PaymentDetail -%>
<% @booking_detail = BookingDetail.find(params[:booking_id]) %>
<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-2">
        <%= link_to booking_detail_path(params[:booking_id]) do %>
            <i class="glyphicon glyphicon-arrow-left btn btn-warning"></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4><strong><%= 'Payment Details'.upcase %></strong></h4>
      </div>

    </div>
    <div class="col-md-6">
      <h4><strong>Customer Name: <%= @booking_detail.customer_name.upcase %></strong></h4>
    </div>
  </div>
</div>

<table class="table table-responsive table-bordered">
  <thead class="thead">
    <tr>
      <td>Sr.No.</td>
      <td>Date</td>
      <td>Payment Type</td>
      <td>Description</td>
      <td>Amount</td>
    </tr>
  </thead>
  <% count = 0 %>
  <tbody>
    <% @booking_detail.payment_details.each do |payment_detail| %>
      <% if payment_detail.payment_type == 'CHEQUE' %>
        <tr style="background-color: #bb4422; color: #FFFFFF">
      <% else %>
        <tr>
      <% end %>
        <td><%= count = count+1 %></td>
        <% if payment_detail.payment_date.blank? %>
            <td><%= Date.parse(payment_detail.created_at.to_s) %></td>
        <% else %>
            <td><%= payment_detail.payment_date %></td>
        <% end %>
        <td><%= payment_detail.payment_type %></td>
        <td><%= payment_detail.payment_desc %></td>
        <td><%= payment_detail.payable_amount %></td>
        <!-- <td>
          <% link_to 'Delete',
                      {controller: 'payment_details', action: 'destroy', id: payment_detail.id},
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-sm'%>
        </td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<div class="row">
  <div class="col-md-6 pull-right">
   <strong>Total Amount Paid : <%= @booking_detail.paid_amount %></strong>
  </div>
</div>