<%= form_for @flat, :html => { :class => "form-horizontal flat" } do |f| %>

  <% if @flat.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @flat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<div class="container">
  <div class="form-group">
    <%= f.label :flat_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :flat_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:flat_number) %>

    <%= f.label :area, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 input-group">
      <%= f.text_field :area, :class => 'form-control'%>
      <span class="input-group-addon">
        Sq.Ft.
      </span>
    </div>
    <%=f.error_span(:area) %>
  </div>


  <!-- ruby's black magic code to create array for wings according to number of wigs added in sites -->
        <% wings_array = Array.new(10)
            wings_array = [['Select Wing']]
           @site = Site.find(params[:site_id])
            letter = '@'
            wings = @site.no_of_wings.to_i
            number = 0
           while number < wings do
            child_array = [letter.next, letter.next]
            wings_array.push(child_array)
             number += 1
             letter = letter.next
          end
        %>

  <!-- end of logic -->


  <div class="form-group">
    <%= f.label :wing, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.select(:wing, options_for_select(wings_array,:disabled=> 'Select Wing', :selected=> @flat.wing),
                   {}, class: 'form-control') %>
    </div>
    <%=f.error_span(:wing) %>

    <%= f.label 'Location/Floor', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.select(:floor , options_for_select([['Select Floor'],['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],
                                              ['6','6'],['7','7'],['8','8'],['9','9'],['10','10']],:disabled=> 'Select Floor', :selected=> @flat.floor),
                   {}, class: 'form-control') %>
    </div>
    <%=f.error_span(:floor) %>
  </div>

  <div class="form-group">
    <%= f.label 'Flat rate/sqft.', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :flat_rate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:flat_rate) %>

    <%= f.label :flat_cost, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :flat_cost, :class => 'form-control', readonly: true %>
    </div>
    <%=f.error_span(:flat_cost) %>
  </div>

  <div class="form-group">
    <%= f.label 'Govt rate/sqft', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :govt_rate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:govt_rate) %>

    <%= f.label :govt_value, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :govt_value, :class => 'form-control', readonly: true %>
    </div>
    <%=f.error_span(:govt_value) %>
  </div>
  <div class="form-group">
    <%= f.label :flat_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%
        flat_types = ['SELECT FLAT TYPE']
        flat_types += @site.type_of_structures.split(',') %>
      <%= f.select(:wing, options_for_select(flat_types,:disabled=> 'SELECT FLAT TYPE', :selected=> @flat.flat_type),
                   {}, class: 'form-control') %>
    </div>
    <%=f.error_span(:flat_type) %>

    <%= f.label :amenities, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_area :amenities, :class => 'form-control' %>
    </div>
    <%=f.error_span(:amenities) %>
  </div>

      <%= f.hidden_field :site_id, :class => 'form-control', :value => params[:site_id], :readonly => true %>
      <%= f.hidden_field :booking_status, :value => 0 %>
</div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                site_path(params[:site_id]), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
