<%- model_class = Flat -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
  (Total: <%= @flats.each.count %>)
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:flat_number) %></th>
      <th><%= model_class.human_attribute_name(:area) %></th>
      <th><%= model_class.human_attribute_name(:floor) %></th>
      <th><%= model_class.human_attribute_name(:flat_cost) %></th>
      <th><%= model_class.human_attribute_name(:govt_rate) %></th>
      <th><%= model_class.human_attribute_name(:govt_value) %></th>
      <th><%= model_class.human_attribute_name(:flat_type) %></th>
      <th><%= model_class.human_attribute_name(:wing) %></th>
      <th><%= model_class.human_attribute_name(:amenities) %></th>
    </tr>
  </thead>
  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.flat_number %></td>
        <td><%= flat.area %></td>
        <td><%= flat.floor %></td>
        <td><%= flat.flat_cost %></td>
        <td><%= flat.govt_rate %></td>
        <td><%= flat.govt_value %></td>
        <td><%= flat.flat_type %></td>
        <td><%= flat.wing %></td>
        <td><%= flat.amenities %></td>
      </tr>
    <% end %>
  </tbody>
</table>
