<%- model_class = OfficeExpence -%>
<div class="page-header row">
  <div class="col-md-3">
    <h2><%=t '.title', :default => 'Office Expenses' %></h2>
  </div>
  <div class="col-md-3">
    <%
      total_expense = 0
      other_expense = 0
      OfficeExpence.all.each do |e|
        if e.site_id == 0
          other_expense += e.amount.to_f
        end
        total_expense += e.amount.to_f
      end
    %>
    <h5> <strong>Other Expense : &#8377; <%= number_to_indian_currency(other_expense) %></strong> </h5>
    <h5> <strong>Site Expense : &#8377; <%= number_to_indian_currency(total_expense - other_expense) %></strong> </h5>
    <h5> <strong>Total Amount : &#8377; <%= number_to_indian_currency(total_expense) %></strong> </h5>
  </div>
  <div class="col-md-3" style="margin-bottom: 1rem">
    <% form_tag office_expences_path, method: :get, id: 'filters', class: '' do %>
        <div class="input-group">
          <%= text_field_tag :filter_query, params[:filter_query], placeholder: 'Filter by "Site or Desc"',
                             class: 'form-control', id: 'search-box' %>
          <span class="input-group-btn">
            <%= button_tag(type: :submit, class: 'btn btn-success', id: '') do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_office_expence_path,
                :class => 'btn btn-primary' %>
  </div>
</div>
<div style="overflow: auto">
  <table class="table table-bordered table-responsive" id="office-expenses-table">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:date) %></th>
        <th><%= model_class.human_attribute_name(:site) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:amount) %></th>
        <th><%= model_class.human_attribute_name(:payment_to) %></th>
        <th><%= model_class.human_attribute_name(:payment_method) %></th>
        <th><%= model_class.human_attribute_name(:payment_desc) %></th>
        <th>Payment done by</th>
      </tr>
    </thead>
    <tbody>
      <% @office_expences.each do |office_expence| %>
        <tr>
          <td><%= Date.parse(office_expence.date).strftime('%d-%m-%Y') %></td>
          <td>
            <% if office_expence.site_id == 0 %>
              OTHER
            <% else %>
              <%= office_expence.site.name.upcase %>
            <% end %>
          </td>
          <td><%= link_to office_expence.description, office_expence_path(office_expence) %></td>
          <td>&#8377; <%= number_to_indian_currency(office_expence.amount) %></td>
          <td><%= office_expence.payment_to %></td>
          <% if office_expence.payment_method === 'CHEQUE' %>
            <td style="background-color: #911012; color: #FFFFFF">
          <% else %>
            <td>
          <% end %>
            <%= office_expence.payment_method %>
          </td>
          <td><%= office_expence.payment_desc %></td>
          <td><%= office_expence.paid_by %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% #will_paginate @office_expences, renderer: BootstrapPagination::Rails%>
