<%- model_class = OfficeExpence -%>
<div class="page-header row">
  <div class="col-md-6">
    <h1><%=t '.title', :default => 'Office Expenses' %></h1>
  </div>
  <div class="col-md-3">
    <%
      total_expense = 0
      OfficeExpence.all.each do |e|
        total_expense += e.amount.to_f
      end
    %>
    <span style="font-size: large"> <strong>Total Amount : &#8377; <%= total_expense %></strong> </span>
  </div>
  <div class="col-md-3">
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_office_expence_path,
                :class => 'btn btn-primary pull-right' %>
  </div>
</div>
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:payment_to) %></th>
      <th><%= model_class.human_attribute_name(:payment_method) %></th>
      <th><%= model_class.human_attribute_name(:payment_desc) %></th>
      <th>Payment done by</th>
    </tr>
  </thead>
  <tbody>
    <% @office_expences.each do |office_expence| %>
      <tr>
        <td><%= Date.parse(office_expence.date).strftime('%d-%m-%Y') %></td>
        <td><%= link_to office_expence.description, office_expence_path(office_expence) %></td>
        <td>&#8377; <%= office_expence.amount %></td>
        <td><%= office_expence.payment_to %></td>
        <% if office_expence.payment_method === 'CHEQUE' %>
          <td style="background-color: #911012; color: #FFFFFF">
        <% else %>
          <td>
        <% end %>
          <%= office_expence.payment_method %>
        </td>
        <td><%= office_expence.payment_desc %></td>
        <td><%= office_expence.paid_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @office_expences, renderer: BootstrapPagination::Rails%>
