<table class="table table-stripped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Last log-in</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.last_sign_in_at.present? ? Time.parse(user.last_sign_in_at.to_s).strftime('%d-%b-%Y %I:%M %P') : '' %></td>
        <td id="is_user_active">
          <input type="checkbox" <%= user.active? ? 'checked' : '' %> <%= user.role == 'ADMIN' ? 'disabled' : '' %> onclick="toggleUserStatus(<%= user.id %>)">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @users, renderer: BootstrapPagination::Rails%>