<table class="table table-stripped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Last log-in</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= Time.parse(user.last_sign_in_at.to_s).strftime('%d-%b-%Y %I:%M %P') %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @users, renderer: BootstrapPagination::Rails%>