
$(".dept_lab_pay_det-<%= @dept_lab.id %>").on('ajax:success', function (event, data, status) {
    console.log("success");
    $("#pay_det_tbody").replaceWith('<tbody id="pay_det_tbody"></tbody>')
    <% @dept_lab_outgoing_payment.each do |dept| %>
      $("#pay_det_tbody").append('<tr>' +
          '<td><%= Date.parse(dept.date).strftime('%d-%m-%Y') %></td>'+
          '<td>&#8377; <%= number_to_indian_currency(dept.amount) %></td>'+
          '<td><%= dept.payment_method %></td>'+
          '<td><%= dept.payment_description %></td>'+
          '<td><%= dept.paid_by %></td>'+
          '<td><%= dept.payment_to %></td>'+
          ' </tr>');
    <% end %>

    $("#paymentDetailsModal").modal('show');
});
$(".dept_lab_pay_det-<%= @dept_lab.id %>").on('ajax:error', function (event, data, status) {
    console.log("error");
    $("#pay_det_tbody").replaceWith('<tbody id="pay_det_tbody"><tr><td colspan="6" class="text-center">'+
        'No record</td></tr></tbody>');
    $("#paymentDetailsModal").modal('show');
});