<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-2">
        <%= link_to site_path(@site) do %>
            <i class="glyphicon glyphicon-arrow-left btn btn-warning"></i>
        <% end %>
      </div>
      <div class="col-md-4">
        <h4>
          <strong>Departmental Labours</strong>
          <span class="pull-right"></span>
        </h4>
        <h4><span class="label label-primary"><%= @site.name.upcase %></span></h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <button class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#addNewDepartmentalLabour">
          Add
        </button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">

      </div>
    </div>
  </div>
</div>
<div style="overflow: auto">
  <table class="table table-bordered table-responsive">
    <thead class="thead-default">
    <tr>
      <th>Date</th>
      <th>Type of work</th>
      <th>Total Amount</th>
      <th>Paid Amount</th>
      <th>Remaining Amount</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% if @departmental_labours.blank? %>
        <tr>
          <td colspan="9" class="text-center"><strong style="color: red">No Departmental Labour Available.</strong></td>
        </tr>
    <% else %>
        <% @departmental_labours.each do |departmental_labour| %>
            <tr>
              <td><%= Date.parse(departmental_labour.date).strftime('%d-%m-%Y') %></td>
              <td><%= departmental_labour.type_of_work %></td>
              <td>&#8377; <%= number_to_indian_currency(departmental_labour.amount) %></td>
              <td>&#8377; <%= number_to_indian_currency(departmental_labour.paid_amount) %></td>
              <td>&#8377; <%= number_to_indian_currency(departmental_labour.amount.to_i - departmental_labour.paid_amount.to_i) %></td>
              <td>
                <% if departmental_labour.amount.to_f - departmental_labour.paid_amount.to_f > 0 %>
                  <a href="#departmentalLabourPaymentModal" class="btn btn-primary" id="pay-btn-<%= departmental_labour.id %>" data-toggle="modal"
                     data-dl-id="<%= departmental_labour.id %>" data-total-amount="<%= departmental_labour.amount %>">
                    Pay
                  </a>
                <% end %>
              <%= link_to 'Payment Details',{controller: 'departmental_labours', action: 'departmental_labour_payment_details',
                                               id: departmental_labour.id}, method: :get, remote: true,
                            class: "btn btn-primary dept_lab_pay_det-#{departmental_labour.id}" %>

              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          departmental_labour_path(departmental_labour),
                          :method => 'delete',
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger btn-sm' %>
              </td>
            </tr>

            <!-- ************************* Script ****************************** -->
            <script type="text/javascript">
                $('#pay-btn-<%= departmental_labour.id %>').on('click', function () {
                    //get data-id attribute of the clicked element
                    var deptLabourId = $(this).data('dl-id');
                    var totalPayableAmount = $(this).data('total-amount');
                    //populate the textbox
                    $("#departmentalLabourPaymentModal").find('input[name="id"]').val(deptLabourId);
                    $("#departmentalLabourPaymentModal").find('input[name="payment_for"]').val("DEPARTMENTAL_LABOURS-"+deptLabourId);
                    $("#departmentalLabourPaymentModal").find('input[name="max_payable_amount"]').val(totalPayableAmount);
                });
            </script>
            <!-- ************************** end ******************************** -->
        <% end %>
    <% end %>

    </tbody>
  </table>
</div>
<%= will_paginate @departmental_labours, renderer: BootstrapPagination::Rails %>
<!-- Modal -->
<div class="modal fade-scale" id="addNewDepartmentalLabour" role="dialog">
  <div class="modal-dialog " role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Supplier's Payment Details</h4>
      </div>
      <div class="modal-body">
        <%= form_for @departmental_labour, :html => { :class => "form-horizontal departmental_labour" } do |f| %>

            <% if @departmental_labour.errors.any? %>
                <div id="error_expl" class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= pluralize(@departmental_labour.errors.count, "error") %> prohibited this departmental_labour from being saved:</h3>
                  </div>
                  <div class="panel-body">
                    <ul>
                      <% @departmental_labour.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            <% end %>

            <div class="form-group">
              <%= f.label :date, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= f.date_field :date, :class => 'form-control' %>
              </div>
              <%=f.error_span(:date) %>
            </div>
            <div class="form-group">
              <%= f.label :type_of_work, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= f.text_field :type_of_work, :class => 'form-control' %>
              </div>
              <%=f.error_span(:type_of_work) %>
            </div>
            <div class="form-group">
              <%= f.label :amount, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= f.text_field :amount, :class => 'form-control' %>
              </div>
              <%=f.error_span(:amount) %>
            </div>
            <%= f.hidden_field :paid_amount, value: '0' %>
            <%= f.hidden_field :site_id, value: params[:id] %>

            <div class="modal-footer">
              <div class="col-lg-offset-2 col-lg-6">
                <%= f.submit 'Save', :class => 'btn btn-primary btn-sm' %>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
              </div>
            </div>
            </div>

        <% end %>


      </div>
    </div>

  </div>
</div>
<!-- ********************************************************************************************** -->

<!-- Modal -->
<div class="modal fade-scale" id="departmentalLabourPaymentModal" role="dialog">
  <div class="modal-dialog modal-sm" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Supplier's Payment</h4>
      </div>

      <div class="modal-body">
        <%= form_tag update_departmental_labour_payment_path, method: :get, id: 'departmental_labours-payment_form'  do %>
            <div class="form-group">
            <%= date_field_tag :payment_date, params[:payment_date],placeholder: 'Select Date',
                               class: 'form-control search-box', id: 'search-box', required: true %>
            </div>
            <div class="form-group">
            <%= text_field_tag :amount, params[:amount],placeholder: 'Amount',
                               class: 'form-control', id: 'dept_labour_payable_amount', required: true %>
            </div>
            <div class="form-group">
            <%= select_tag :payment_method, options_for_select([['Payment Method'],['CASH','CASH'],['CHEQUE','CHEQUE']],:disabled=> 'Payment Method'),
                           class: 'form-control', id: 'payment_method', required: true %>
            </div>
            <div class="form-group">
            <%= text_field_tag :payment_desc, params[:payment_desc],placeholder: 'Payment Description',
                               class: 'form-control search-box', id: 'payment_desc', required: true %>
            </div>
            <div class="form-group">
            <%= text_field_tag :payment_to, params[:payment_to],placeholder: 'Payment To',
                               class: 'form-control search-box', id: 'payment_to', required: true %>
            </div>
            <%= hidden_field :paid_by, params[:paid_by], value: current_user.user_name , id: 'paid_by' %>
            <%= hidden_field_tag :payment_for, params[:payment_for] %>
            <%= hidden_field_tag :id, params[:id] %>
            <%= hidden_field_tag :site_id, params[:site_id], value: @site.id %>
            <%= hidden_field_tag :max_payable_amount, params[:max_payable_amount]%>
            </div>
            <div class="modal-footer">
              <%= button_tag(type: :submit, class: 'btn btn-primary btn-sm', id: 'dept_pay_btn') do %>
                  Save
              <% end %>
        <% end %>

        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>
        </div>

  </div>
</div>
<!-- ********************************************************************************************** -->
<!-- ********************************************************************************************** -->
<!-- Modal -->
<div class="modal fade-scale" id="paymentDetailsModal" role="dialog">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Payment Details</h4>
      </div>
      <div class="modal-body" style="height: 80% !important; overflow: auto!important;">
        <div style="overflow: auto !important; height: 90% !important;">
          <table class="table table-responsive table-bordered">
            <thead class="thead-default">
            <tr class="table-row">
              <th>Date</th>
              <th>Amount</th>
              <th>Pay. Method</th>
              <th>Desc.</th>
              <th>Paid By</th>
              <th>Payment to</th>
            </tr>
            </thead>
            <tbody id="pay_det_tbody">

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- ********************************************************************************************** -->