<%- model_class = Contractor -%>
<div class="page-header">
  <h3><%= 'Contractors'.upcase %>
    <span class="pull-right">
      <%= link_to 'Add Contractor',
                  new_contractor_path,
                  :class => 'btn btn-primary btn-sm' %>
    </span>
  </h3>
</div>

<div class="row">
  <% @contractors.each do |contractor| %>
      <div class="col-md-3 col-sm-5 col-xs-11">
        <div class="panel panel-primary">
          <div class="panel-heading" style="height: 6rem;">
            <h4><strong><%= contractor.name %></strong></h4>
          </div>
          <div class="panel-body" style="height: 10rem;">
            <strong>Addres: </strong> <%= contractor.address %> <br />
            <strong>Contact: </strong> <%= contractor.contact_number %> <br />
          </div>
          <div class="panel-footer text-center">
            <%= link_to 'View', contractor_path(contractor), class: 'btn btn-warning btn-sm' %>
          </div>
        </div>
      </div>
  <% end %>
</div>
