<% flat_id = params[:flat_id]
   site_id = params[:site_id]

  @flat = Flat.find(flat_id)
%>
<%= form_for @booking_detail, :html => { :class => "form-horizontal booking_detail" } do |f| %>

  <% if @booking_detail.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@booking_detail.errors.count, "error") %> prohibited this booking_detail from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @booking_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <h4><strong>Customer Details</strong></h4>
  <hr />
   <div class="form-group">
     <%= f.label :customer_name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :customer_name, :class => 'form-control', placeholder: :customer_name %>
      </div>
      <%=f.error_span(:customer_name) %>

     <%= f.label :customer_address, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :customer_address, :class => 'form-control', placeholder: :customer_address %>
      </div>
      <%=f.error_span(:customer_address) %>
   </div>

   <div class="form-group">
     <%= f.label :customer_contact, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :customer_contact, :class => 'form-control', placeholder: :customer_contact %>
      </div>
      <%=f.error_span(:customer_contact) %>

     <%= f.label :customer_pan, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :customer_pan, :class => 'form-control', placeholder: :customer_pan %>
      </div>
      <%=f.error_span(:customer_pan) %>
   </div>
   <div class="form-group">
     <%= f.label :customer_adhar, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :customer_adhar, :class => 'form-control', placeholder: :customer_adhar %>
      </div>
      <%=f.error_span(:customer_adhar) %>
   </div>

    <br/>
       <%= f.hidden_field :site_id,
                        :value=> site_id %>
        <%= f.hidden_field :flat_id,
                           :value=> flat_id %>
    <%= f.hidden_field 'flat_area',
                       :value=> @flat.area %>

    <h4><strong>Booking Details</strong></h4>
    <div class="form-group">
      <%= f.label :agreement_cost, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :agreement_cost, :class => 'form-control', placeholder: :agreement_cost %>
      </div>
      <%=f.error_span(:agreement_cost) %>

    </div>
   <hr/>

    <div class="form-group">
      <%= f.label :water_charges, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :water_charges, :class => 'form-control', placeholder: :water_charges %>
      </div>
      <%=f.error_span(:water_charges) %>
      <%= f.label :MSEB_charges, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :MSEB_charges, :class => 'form-control', placeholder: :MSEB_charges %>
      </div>
      <%=f.error_span(:MSEB_charges) %>
    </div>
    <div class="form-group">
      <%= f.label :parking_charges, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :parking_charges, :class => 'form-control', placeholder: :parking_charges %>
      </div>
      <%=f.error_span(:parking_charges) %>
      <%= f.label 'Maintenance cost/SqFt.', :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Maintenance cost/Sq.Ft." type="text" id="maintenance_in_sqft">
      </div>
    </div>
    <div class="form-group">
      <%= f.label :other_charges, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :other_charges, :class => 'form-control', placeholder: :other_charges %>
      </div>
      <%=f.error_span(:other_charges) %>
      <%= f.label 'Maintenance cost', :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :maintenance_charges, :class => 'form-control', placeholder: 'Maintenance cost', readonly: true %>
      </div>
      <%=f.error_span(:maintenance_charges) %>
    </div>

    <hr/>
    <div class="form-group">
      <%= f.label :stamp_duty, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :stamp_duty, :class => 'form-control' %>
      </div>
      <%=f.error_span(:stamp_duty) %>

      <%= f.label :registration_fees, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :registration_fees, :class => 'form-control'%>
      </div>
      <%=f.error_span(:registration_fees) %>
    </div>

   <div class="form-group">
     <%= f.label :vat, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :vat, :class => 'form-control' %>
      </div>
      <%=f.error_span(:vat) %>
     <%= f.label :service_tax, :class => 'control-label col-lg-2' %>
     <div class="col-lg-4">
       <%= f.text_field :service_tax, :class => 'form-control' %>
     </div>
     <%=f.error_span(:service_tax) %>
   </div>

   <div class="form-group">
     <%= f.label :lbt, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :lbt, :class => 'form-control'%>
      </div>
      <%=f.error_span(:lbt) %>

     <%= f.label :legal_charges, :class => 'control-label col-lg-2' %>
     <div class="col-lg-4">
       <%= f.text_field :legal_charges, :class => 'form-control',
                        value: '11000', readonly: true %>
     </div>
     <%=f.error_span(:legal_charges) %>
   </div>
    <hr/>
    <div class="form-group">
      <%= f.label :loan_possible, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <% if @booking_detail.loan_possible %>
            <%= f.select(:loan_possible, options_for_select([['Loan Possible ?'],['Yes',1],['No',0]],
                                                            :disabled=> 'Loan Possible ?'),
                         {}, class: 'form-control') %>
        <% else %>
            <%= f.select(:loan_possible, options_for_select([['Loan Possible ?'],['Yes',1],['No',0]],
                                                            :disabled=> 'Loan Possible ?', :selected=> 'Loan Possible ?'),
                         {}, class: 'form-control') %>
        <% end %>
      </div>
      <%=f.error_span(:loan_possible) %>
    </div>

    <div class="hidden" id="loan-possible-div">
      <div class="form-group">
        <%= f.label :name_of_bank, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :name_of_bank, :class => 'form-control',
                           value: 'NA' %>
        </div>
        <%=f.error_span(:name_of_bank) %>

        <%= f.label 'Branch', :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :branch_of_bank, :class => 'form-control',
                           value: 'NA' %>
        </div>
        <%=f.error_span(:branch_of_bank) %>
      </div>
      <div class="form-group">
        <%= f.label :sanctioned_amount, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :sanctioned_amount, :class => 'form-control',
                           value: '0' %>
        </div>
        <%=f.error_span(:sanctioned_amount) %>

        <%= f.label 'Employee code/Name', :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :employee_name, :class => 'form-control',
                           value: 'NA' %>
        </div>
        <%=f.error_span(:employee_name) %>
      </div>
    </div>
    <hr/>
    <% if @flat.booking_status == 0 || @flat.booking_status.blank? %>
      <div class="form-group">
        <%= f.label :token_amount, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :token_amount, :class => 'form-control'%>
        </div>
        <%=f.error_span(:token_amount) %>

        <%= f.label 'Payment Type', :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.select(:payment_type, options_for_select([['Payment type'],['CASH','CASH'],['CHEQUE','CHECK']],
                                                          :disabled=> 'Payment type'),
                       {}, class: 'form-control') %>
        </div>
        <%=f.error_span(:payment_type) %>
      </div>
      <div class="form-group">
        <%= f.label 'Payment Description', :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :payment_desc, :class => 'form-control'%>
        </div>
        <%=f.error_span(:payment_desc) %>
      </div>
    <% end %>

    <% if @flat.booking_status == 0 || @flat.booking_status.blank? %>
      <%= f.hidden_field :final_sale_deed, value: "#{@flat.flat_cost}" %>
    <% end %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                flat_path(params[:flat_id]), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
