<%- model_class = BookingDetail -%>
<div class="page-header">
  <h3>Customers</h3>
</div>

<div class="row col-md-offset-1">
  <% @booking_details.each do |booking_detail| %>
      <div class="card col col-md-3 col-sm-5 col-xs-11 text-center" style="margin: 1rem">
        <div class="card-block">
          <h4 class="card-title"><strong><%= booking_detail.customer_name %></strong></h4>
          <hr />
          <p class="card-text">
            <strong>Addres: </strong> <%= booking_detail.customer_address %> <br />
            <strong>Contact: </strong> <%= booking_detail.customer_contact %> <br />
            <strong>Site(BUILDING): </strong> <%= booking_detail.site.name %> <br />
            <strong>Flat Number: </strong> <%= booking_detail.flat.flat_number %>
          </p>
          <hr />
          <%= link_to 'Visit', booking_detail_path(booking_detail), class: 'btn btn-warning btn-sm' %>
        </div>
        <div class="card-footer">

        </div>
      </div>
  <% end %>
</div>