<%- model_class = BookingDetail -%>
<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-2">
        <%= link_to flat_path(@booking_detail.flat) do %>
            <i class="glyphicon glyphicon-arrow-left btn btn-warning btn-sm"></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4><strong><%= 'Booking Details'.upcase %></strong></h4>
        <span class="label label-primary"><%= @booking_detail.site.name.upcase %></span>
        <span class="label label-info"><%= @booking_detail.flat.flat_number %></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-2 col-sm-6 col-xs-6">
        <button class="btn btn-default btn-sm" id="payment-btn-on-booking"
                data-toggle="modal" data-target="#myModal">Pay</button>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <%= link_to 'Payment details',
                    {controller: 'payment_details', action: 'show', :booking_id=>@booking_detail.id},
                    class: 'btn btn-primary btn-sm' %>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    {controller: 'booking_details', action: 'edit', :flat_id=> @booking_detail.flat,
                     :site_id=> @booking_detail.site},
                    :class => 'btn btn-default btn-sm' %>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6">
        <% link_to t('.destroy', :default => t("helpers.links.destroy")),
                    booking_detail_path(@booking_detail),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger btn-sm' %>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6">
        <%= link_to 'Print','#', :onclick=>'window.print();return false;', :class => 'btn btn-info btn-sm' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h4 class="text-center">Customer Details</h4>
  <hr/>
  <div class="col-md-3 col-xs-3 ">
    <strong>CUSTOMER NAME:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <%= @booking_detail.customer_name %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>CUSTOMER ADDRESS:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <%= @booking_detail.customer_address %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>CUSTOMER CONTACT:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <%= @booking_detail.customer_contact %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>CUSTOMER PAN:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <%= @booking_detail.customer_pan %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>CUSTOMER ADHAR:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <%= @booking_detail.customer_adhar %>
  </div>
</div>
<div class="row">
  <hr/>
  <h4 class="text-center">Site Details</h4>
  <hr/>
  <div class="col-md-3 col-xs-3 ">
    <strong>SITE (BUILDING) NAME:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <%= @booking_detail.site.name.upcase %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>AREA :</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <%= @booking_detail.flat.area %> Sq.Ft.
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>FLOOR :</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <%= @booking_detail.flat.floor %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>TYPE OF UNIT :</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <%= @booking_detail.flat.flat_type %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>FLAT NUMBER:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <%= @booking_detail.flat.flat_number %>
  </div>
</div>
<hr/>
<div class="row">
  <h4 class="text-center">Cost Details</h4>
  <hr/>
  <div class="col-md-3 col-xs-3 ">
    <strong>FLAT COST:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= flat_cost = (@booking_detail.flat.flat_cost).to_i %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>GOVT. VALUE:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= govt_value = (@booking_detail.flat.govt_value).to_i %>
  </div>
  <br/><hr/>
  <div class="col-md-3 col-xs-3 ">
    <strong>VAT :</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= vat = @booking_detail.vat.to_i %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>SERVICE TAX:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= service_tax = @booking_detail.service_tax.to_i %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>STAMP DUTY:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= stamp_duty = @booking_detail.stamp_duty.to_i %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>REGISTRATION FEES:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= registration_fees = @booking_detail.registration_fees.to_i %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>LBT:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= lbt = @booking_detail.lbt.to_i %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>LEGAL CHARGES:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= legal_charges = @booking_detail.legal_charges.to_i %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-3 col-xs-3 ">
    <strong>MSEB CHARGES:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= mseb_charges = @booking_detail.MSEB_charges.to_i %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>WATER CHARGES :</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= water_charges = @booking_detail.water_charges.to_i %>
  </div>

  <div class="col-md-3 col-xs-3 ">
    <strong>ALLOTTED PARKING CHARGES:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= parking_charges = @booking_detail.parking_charges.to_i %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>MAINTENANCE CHARGES:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= maintenance_charges = @booking_detail.maintenance_charges.to_i %>
  </div>
  <div class="col-md-3 col-xs-3 ">
    <strong>OTHER CHARGES:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= other_charges = @booking_detail.other_charges.to_i %>
  </div>

  <div class="col-md-3 col-xs-3 ">
    <strong>ACTUAL AGREEMENT COST:</strong>
  </div>
  <div class="col-md-3 col-xs-3 ">
    &#8377; <%= agreement_cost = @booking_detail.agreement_cost.to_i %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-3 col-xs-3 ">
    <strong>LOAN POSSIBLE:</strong>
  </div>
    <% if @booking_detail.loan_possible %>
      <div class="col-md-8 ">
      <%= 'yes'.upcase %>
      </div>
        <div class="col-md-3 col-xs-3 ">
          <strong>NAME OF BANK:</strong>
        </div>
        <div class="col-md-3 col-xs-3 ">
          <%= @booking_detail.name_of_bank %>
        </div>
        <div class="col-md-3 col-xs-3 ">
          <strong>BRANCH :</strong>
        </div>
        <div class="col-md-3 col-xs-3 ">
          <%= @booking_detail.branch_of_bank %>
        </div>

        <div class="col-md-3 col-xs-3 ">
          <strong>SANCTIONED AMOUNT :</strong>
        </div>
        <div class="col-md-3 col-xs-3 ">
          &#8377; <%= @booking_detail.sanctioned_amount %>
        </div>
        <div class="col-md-3 col-xs-3 ">
          <strong>EMPLOYEE CODE/NAME:</strong>
        </div>
        <div class="col-md-3 col-xs-3 ">
          <%= @booking_detail.employee_name %>
        </div>
    <% else %>
      <div class="col-md-3 col-xs-3 ">
      <%= 'no'.upcase %>
      </div>
    <% end %>
</div>
<hr/>
<!-- Final addition of all amount -->

    <% final_cost = flat_cost + vat + service_tax + stamp_duty + registration_fees +
        lbt + legal_charges + mseb_charges + water_charges + parking_charges +
        maintenance_charges + other_charges + agreement_cost %>

<!-- end of addition operations -->
<div class="row" style="background-color: #999999;">
  <div class="">
    <div class="col-md-3 col-xs-3 ">
      <strong>FINAL SELL DEED :</strong>
    </div>
    <div class="col-md-3 col-xs-3 ">
      &#8377; <%= final_cost %>
    </div>
  </div>
  <div class="">
    <div class="col-md-3 col-xs-3 ">
      <strong>ACTUAL SELLING COST :</strong>
    </div>
    <div class="col-md-3 col-xs-3 ">
      &#8377; <%= final_cost - (flat_cost - govt_value) %> (Diff: &#8377; <%= flat_cost - govt_value %>)
    </div>
  </div>
</div>
<div class="row" style="background-color: #3d6b85; color: #FFFFFF;">
  <div class="">
    <div class="col-md-3 col-xs-3">
      <strong>Token Amount:</strong>
    </div>
    <div class="col-md-3 col-xs-3">
      &#8377; <%= @booking_detail.token_amount.to_i %>
    </div>
  </div>
</div>
<div class="row" style="background-color: #aeaeae;">
  <div class="">
    <div class="col-md-3 col-xs-3">
      <strong>Paid Amount:</strong>
    </div>
    <div class="col-md-3 col-xs-3">
      <% if @booking_detail.paid_amount.blank? %>
          &#8377; 0
      <% else %>
      &#8377; <%= paid_amount = @booking_detail.paid_amount.to_i %>
      <% end %>
    </div>
  </div>
</div>
<div class="row" style="background-color: #3d6b85; color: #FFFFFF;">
  <div class="col-md-3 col-xs-3 ">
    <strong>Balance Amount:</strong>
  </div>
  <div class="col-md-3 col-xs-3 " style="font-weight: 800; color: white;">
    <% if @booking_detail.paid_amount.blank? %>
        &#8377; <%= final_cost  %>
    <% else %>
        &#8377; <%= final_cost - paid_amount %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Fill Payment details</h4>
      </div>
      <% if (final_cost - @booking_detail.paid_amount.to_i) <= 0 %>
          <div class="modal-body">
            <h4>The full Amount was PAID</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
          </div>
      <% else %>
        <div class="modal-body">

              <%= form_tag update_paid_amount_path, remote: true, method: :get, id: 'update-paid-amount-form'  do %>
                      <%= hidden_field_tag :booking_id, params[:id], value: @booking_detail.id %>
                      <%= text_field_tag :search, params[:search],placeholder: 'Payable Amount',
                                         class: 'form-control search-box', id: 'search-box' %>
                      <%= select_tag :payment_type, options_for_select([['Payment Type'],['CASH','CASH'],['CHECK','CHECK']],:disabled=> 'Payment Type'),
                                         class: 'form-control search-box', id: 'payment_type' %>
                      <%= text_field_tag :check_desc, params[:check_desc],placeholder: 'Check Description',
                                         class: 'form-control search-box', id: 'check_desc' %>
        </div>
        <div class="modal-footer">
            <%= button_tag(type: :submit, class: 'btn btn-primary btn-sm',
                           id: 'save-paid-amount') do %>
                Save
            <% end %>
          <% end %>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>

  </div>
</div>