<%- model_class = Investor -%>
<div class="page-header investors-page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
  <span class="action-section">
        <%= form_tag investors_path, method: :get, id: 'investor_search_form',
                     class: 'form-inline' do %>
            <div class="input-group input-group-sm">
              <%= text_field_tag :search_investor, params[:search_investor],placeholder: 'Search',
                                 class: 'form-control', id: 'investor-search-box' %>
              <span class="input-group-btn">
                  <%= button_tag(type: :submit, class: 'btn btn-success btn-sm', id: '') do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
            </div>
        <% end %>
    <%= link_to 'Add Investor',
                new_investor_path,
                :class => 'btn btn-primary' %>
    </span>
</div>

<div class="row">
<% @investors.each do |investor| %>
    <div class="col-md-4 col-sm-5 col-xs-11">
    <div class="panel panel-primary ">
      <div class="panel-heading" style="height: 8rem;">
        <h4><strong><%= investor.name %></strong></h4>
      </div>
      <div class="panel-body" style="height: 15rem;">
          <strong><%= model_class.human_attribute_name(:address) %>:</strong>
          <%= investor.address %><br/>
          <strong><%= model_class.human_attribute_name(:contact_number) %>:</strong>
          <%= number_to_phone(investor.contact_number, :country_code => 91) %><br/>
          <strong><%= model_class.human_attribute_name(:email) %>:</strong>
          <%= investor.email %><br/>
      </div>
      <div class="panel-footer">
        <%= link_to t('.show', :default => t("helpers.links.show")),
                    investor_path(investor), :class => 'btn btn-primary btn-xs' %>
      </div>
    </div>
    </div>
<% end %>
</div>
<%= will_paginate @investors, renderer: BootstrapPagination::Rails%>
