<%- model_class = Investor -%>
<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-2">
        <%= link_to investors_path do %>
            <i class="glyphicon glyphicon-arrow-left btn btn-warning"></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4><strong><%= @investor.name.upcase %></strong></h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_investor_path(@investor), :class => 'btn btn-primary btn-block btn-sm' %>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <button class="btn btn-primary btn-sm btn-block" id="payment-btn-on-booking"
                data-toggle="modal" data-target="#newInvestmentModal">Add Investment</button>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-4">
        <% link_to t('.destroy', :default => t("helpers.links.destroy")),
                    investor_path(@investor),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger btn-sm btn-block' %>
      </div>
    </div>
  </div>
</div>
<% @investor.investments.order("investment_date DESC").each do |investment| %>
    <%
      total_interest = 0
      total_months = 0
      paid_interest = 0
    %>
    <% investment.investment_monthly_interests.each do |interest| %>
        <% total_interest = total_interest + interest.interest.to_f %>
        <% total_months = total_months + 1 %>
        <% paid_interest = paid_interest + interest.paid_interest.to_f %>
    <% end %>
    <%
      total_paid_amount = 0

      investment.investment_returns.each do |returns|
        total_paid_amount = total_paid_amount + returns.amount.to_f
      end
    %>
  <div class="col-md-4" id="investment-panels">
    <div class="panel panel-primary ">
      <div class="panel-heading">
        <%= Investor.num_to_lakh(investment.investment_amount.to_f + (total_paid_amount - paid_interest)) %>
        <span class="pull-right">
          <%= Date.parse(investment.investment_date).strftime('%d-%b-%Y') %>
        </span>
      </div>
      <div class="panel-body">
        <strong>Investment Amount : <span class="pull-right">&#8377; <%= number_to_indian_currency(investment.investment_amount.to_f + (total_paid_amount - paid_interest)) %></span></strong><br/>
        Interest Rate : <span class="pull-right"><%= investment.interest_rate %> %</span><br/>
        Total Months : <span class="pull-right"><%= total_months %></span><br/>
        <strong>Total Interest : <span class="pull-right">&#8377; <%= number_to_indian_currency(total_interest.round(2)) %></span></strong><br/>
        Paid Interest : <span class="pull-right">&#8377; <%= number_to_indian_currency(paid_interest.round(2)) %></span><br/>
        <hr/>
        Total Amount : <span class="pull-right">&#8377; <%= number_to_indian_currency(investment.total_payable_amount.to_f.round(2) + total_paid_amount) %></span><br/>
        Total Paid Amount: <span class="pull-right">&#8377; <%= number_to_indian_currency(total_paid_amount.round(2)) %></span><br/>
        <strong>Outstanding Amount: <span class="pull-right">&#8377; <strong id="inv_total_payable_amount-<%= investment.id %>"><%= investment.total_payable_amount.to_f.round(2) %></strong></span></strong><br/>
        <% if !investment.is_monthly %>
          Returning Date: <span class="pull-right"><%= Date.parse(investment.returning_date).strftime('%d-%b-%Y') %></span>
        <% else %>
          <br/>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-primary btn-sm btn-block" id="investment_return-<%= investment.id %>"
                  data-toggle="modal" data-inv-id="<%= investment.id %>" data-inv-date="<%= investment.investment_date %>"
                  data-target="#newInvestmentReturnModal">Return</button>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= link_to 'Interests',{controller: 'investments', action: 'investment_details',
                                          id: investment.id}, method: :get, remote: true,
                                          class: "btn btn-primary btn-sm btn-block", id: "investment_details-#{investment.id}" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= link_to 'Payments',{controller: 'investments', action: 'investment_payment_details',
                                         id: investment.id}, method: :get, remote: true,
                                          class: "btn btn-primary btn-sm btn-block", id: "investment_payment_details-#{investment.id}" %>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <%= link_to 'Delete',
                       {controller: 'investors', action: 'destroy_investment', id: investment},
                       :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                       :class => 'btn btn-danger btn-sm btn-block' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ************************* Script ****************************** -->
    <script type="text/javascript">
      $('#investment_return-<%= investment.id %>').on('click', function () {
          //get data-id attribute of the clicked element
          var investmentId = $(this).data('inv-id');
          var investmentDate = $(this).data('inv-date');
          console.log('investment ID = '+investmentId);
          //populate the textbox
          $("#investment_id").val(investmentId);
          $("#inv-date-picker").attr('min', investmentDate);
      });
      $("a#investment_payment_details-<%= investment.id %>").on('click', function () {
          on();
      });
  </script>
  <!-- ************************** end ******************************** -->
<% end %>


<!-- Modal -->
<div class="modal fade-scale" id="newInvestmentModal" role="dialog">
  <div class="modal-dialog modal-sm" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">New Investment</h4>
      </div>

      <div class="modal-body">
        <%= form_for @investment, :html => { :class => "form-horizontal investment" } do |f| %>

            <% if @investment.errors.any? %>
                <div id="error_expl" class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= pluralize(@investment.errors.count, "error") %> prohibited this departmental_labour from being saved:</h3>
                  </div>
                  <div class="panel-body">
                    <ul>
                      <% @investment.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            <% end %>

            <div class="form-group">
              <%= f.label :investment_date, :class => 'control-label col-lg-4' %>
              <div class="col-lg-8">
                <%= f.date_field :investment_date, :class => 'form-control', required: true, max: Date.today() %>
              </div>
              <%=f.error_span(:investment_date) %>
            </div>
            <div class="form-group">
              <%= f.label 'Returning Method', :class => 'control-label col-lg-4' %>
              <div class="col-lg-8">
                <%= f.radio_button :is_monthly, false,  class: 'radio-inline' %> Lumpsum <br/>
                <%= f.radio_button :is_monthly, true, :checked => true, class: 'radio-inline' %> Quarterly/Monthly
              </div>
            </div>
            <div class="form-group">
              <%= f.label :investment_amount, :class => 'control-label col-lg-4' %>
              <div class="col-lg-8">
                <%= f.text_field :investment_amount, :class => 'form-control', required: true %>
              </div>
              <%=f.error_span(:investment_amount) %>
            </div>
            <div class="form-group" id="investments_interest_rate_div">
              <%= f.label :interest_rate, :class => 'control-label col-lg-4' %>
              <div class="col-lg-8">
                <%= f.text_field :interest_rate, :class => 'form-control', required: true %>
              </div>
              <%=f.error_span(:interest_rate) %>
            </div>
            <div id="investments_hidden_fields" class="hidden">
              <div class="form-group">
                <%= f.label :total_payable_amount, :class => 'control-label col-lg-4' %>
                <div class="col-lg-8">
                  <%= f.text_field :total_payable_amount, :class => 'form-control', :value => '0' %>
                </div>
                <%=f.error_span(:total_payable_amount) %>
              </div>
              <div class="form-group">
                <%= f.label :returning_date, :class => 'control-label col-lg-4' %>
                <div class="col-lg-8">
                  <%= f.date_field :returning_date, :class => 'form-control', :value => Date.today %>
                </div>
                <%=f.error_span(:returning_date) %>
              </div>
            </div>
            <div class="form-group hidden">
              <%= f.label :create_by, :class => 'control-label col-lg-4' %>
              <div class="col-lg-8">
                <%= f.text_field :created_by, :class => 'form-control', readonly: true, value: current_user.user_name %>
              </div>
              <%=f.error_span(:created_by) %>
            </div>
            <%= f.hidden_field :investor_id, value: @investor.id %>
            <%= f.hidden_field :last_month_interest, value: '0' %>
            <%= f.hidden_field :current_month_interest, value: '0' %>
            <%= f.hidden_field :last_return_date, value: 'Nil' %>

            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">

              </div>
            </div>
        </div>
        <div class="modal-footer">
          <%= f.submit nil, :class => 'btn btn-primary', id:'new_investment_submit' %>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <% end %>
        </div>

    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade-scale" id="newInvestmentReturnModal" role="dialog">
  <div class="modal-dialog modal-sm" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">New Investment Return</h4>
      </div>

      <div class="modal-body">
        <%= form_tag investment_returns_path, method: :post, id: 'investment_return_form', remote: true  do %>

            <div class="form-group">
            <%= date_field_tag :date, params[:date],placeholder: 'Select Date',
                               class: 'form-control', id: 'inv-date-picker', required: true %>
            </div>
            <div class="form-group">
            <%= text_field_tag :amount, params[:amount],placeholder: 'Amount', id: 'investment_return_amount',
                               class: 'form-control', required: true %>
            </div>
            <div class="form-group">
            <%= select_tag :payment_method, options_for_select([['Payment Method'],['CASH','CASH'],['CHEQUE','CHEQUE']],:disabled=> 'Payment Method'),
                           class: 'form-control', id: 'payment_method', required: true %>
            </div>
            <div class="form-group">
            <%= text_field_tag :description, params[:description],placeholder: 'Payment Description',
                               class: 'form-control', required: true %>
            </div>
            <%= hidden_field_tag :investment_id, params[:investment_id] %>
            <%= hidden_field_tag :paid_by, params[:paid_by], value: current_user.user_name %>
            <%= hidden_field_tag :deleting_status, params[:deleting_status], value: false %>
            </div>
            <div class="modal-footer">
              <%= button_tag(type: :submit, class: 'btn btn-primary btn-sm', id: 'inv_return_save_btn') do %>
                  Save
              <% end %>
        <% end %>

        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>

        </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade-scale" id="investmentDetailsModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Interest Details</h4>
      </div>

      <div class="modal-body">
        <table class="table table-responsive table-bordered">
          <thead class="thead-default">
          <tr class="table-row">
            <th>Month_wise_distribution</th>
            <th>Interest</th>
            <th>Paid Interest</th>
            <th>Paid Date</th>
            <th>Pending Interest</th>
            <th>Paid By</th>
          </tr>
          </thead>
          <tbody id="inv-mon-det_tbody">

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade-scale" id="investmentPaymentDetailsModal" role="dialog">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Investment Payment Details</h4>
      </div>

      <div class="modal-body">
        <table class="table table-responsive table-bordered">
          <thead class="thead-default">
          <tr class="table-row">
            <th>Date</th>
            <th>Amount</th>
            <th>Payment Method</th>
            <th>Description</th>
            <th>Paid By</th>
          </tr>
          </thead>
          <tbody id="inv-pay-det_tbody">

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


