<%- model_class = Investor -%>
<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-2">
        <%= link_to investors_path do %>
            <i class="glyphicon glyphicon-arrow-left btn btn-warning"></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4><strong><%= @investor.name.upcase %></strong></h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_investor_path(@investor), :class => 'btn btn-primary btn-block btn-sm' %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <button class="btn btn-primary btn-sm btn-block" id="payment-btn-on-booking"
                data-toggle="modal" data-target="#newInvestmentModal">Add Investment</button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <% link_to t('.destroy', :default => t("helpers.links.destroy")),
                    investor_path(@investor),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger btn-sm btn-block' %>
      </div>
    </div>
  </div>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @investor.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_number) %>:</strong></dt>
  <dd><%= @investor.contact_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @investor.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deleting_status) %>:</strong></dt>
  <dd><%= @investor.deleting_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= @investor.created_by %></dd>
</dl>

<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>Date</th>
    <th>Capital Amount</th>
    <th>Interest Rate</th>
    <th>Last Month Interest</th>
    <th>Current Month Interest</th>
    <th>Total Payable Amount</th>
    <th>Last Paid Date</th>
    <th>Created By</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody id="investorTableBody">
  <% @investor.investments.each do |investment| %>
      <tr>
        <td><%= investment.investment_date %></td>
        <td>&#8377; <%= investment.investment_amount %> </td>
        <td><%= investment.interest_rate %> %</td>
        <td>&#8377; <%= investment.last_month_interest %> </td>
        <td>&#8377; <%= investment.current_month_interest %> </td>
        <td>&#8377; <%= investment.total_payable_amount %> </td>
        <td><%= investment.last_return_date %></td>
        <td><%= investment.created_by %></td>
        <td><button class="btn btn-primary btn-sm btn-block" id="investment_return-<%= investment.id %>"
                    data-toggle="modal" data-inv-id="<%= investment.id %>"
                    data-target="#newInvestmentReturnModal" disabled>Return</button></td>
        <td><%= link_to 'Details',{controller: 'investments', action: 'investment_details',
                                           id: investment.id}, method: :get, remote: true,
                        class: "btn btn-primary", id: "investment_details-#{investment.id}", disabled: true %></td>
      </tr>

      <!-- ************************* Script ****************************** -->
      <script type="text/javascript">
          $('#investment_return-<%= investment.id %>').on('click', function () {
              //get data-id attribute of the clicked element
              var investmentId = $(this).data('inv-id');
              //populate the textbox
              $("#investment_id").val(investmentId);
          });
      </script>
      <!-- ************************** end ******************************** -->
  <% end %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade-scale" id="newInvestmentModal" role="dialog">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">New Investment</h4>
      </div>

      <div class="modal-body">
        <%= form_for @investment, :html => { :class => "form-horizontal investment", remote: true } do |f| %>

            <% if @investment.errors.any? %>
                <div id="error_expl" class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= pluralize(@investment.errors.count, "error") %> prohibited this departmental_labour from being saved:</h3>
                  </div>
                  <div class="panel-body">
                    <ul>
                      <% @investment.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            <% end %>

            <div class="form-group">
              <%= f.label :investment_date, :class => 'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.date_field :investment_date, :class => 'form-control' %>
              </div>
              <%=f.error_span(:investment_date) %>
            </div>
            <div class="form-group">
              <%= f.label :investment_amount, :class => 'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.text_field :investment_amount, :class => 'form-control' %>
              </div>
              <%=f.error_span(:investment_amount) %>
            </div>
            <div class="form-group">
              <%= f.label :interest_rate, :class => 'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.text_field :interest_rate, :class => 'form-control' %>
              </div>
              <%=f.error_span(:interest_rate) %>
            </div>
            <div class="form-group">
              <%= f.label :create_by, :class => 'control-label col-lg-3' %>
              <div class="col-lg-6">
                <%= f.text_field :created_by, :class => 'form-control', readonly: true, value: current_user.user_name %>
              </div>
              <%=f.error_span(:created_by) %>
            </div>
            <%= f.hidden_field :investor_id, value: @investor.id %>
            <%= f.hidden_field :last_month_interest, value: '0' %>
            <%= f.hidden_field :current_month_interest, value: '0' %>
            <%= f.hidden_field :total_payable_amount, value: '0' %>
            <%= f.hidden_field :last_return_date, value: 'Nil' %>

            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">

              </div>
            </div>
        </div>
        <div class="modal-footer">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <% end %>
        </div>

    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade-scale" id="newInvestmentReturnModal" role="dialog">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">New Investment</h4>
      </div>

      <div class="modal-body">
        <%= form_tag investment_returns_path, method: :post, id: 'investment_return_form', remote: true  do %>

            <%= date_field_tag :date, params[:date],placeholder: 'Select Date',
                               class: 'form-control', required: true %>
            <%= text_field_tag :amount, params[:amount],placeholder: 'Amount',
                               class: 'form-control', required: true %>
            <%= select_tag :payment_method, options_for_select([['Payment Method'],['CASH','CASH'],['CHEQUE','CHEQUE']],:disabled=> 'Payment Method'),
                           class: 'form-control', id: 'payment_method', required: true %>
            <%= text_field_tag :description, params[:description],placeholder: 'Payment Description',
                               class: 'form-control', required: true %>
            <%= hidden_field_tag :investment_id, params[:investment_id] %>
            <%= hidden_field_tag :paid_by, params[:paid_by], value: current_user.user_name %>
            <%= hidden_field_tag :deleting_status, params[:deleting_status], value: false %>
            </div>
            <div class="modal-footer">
              <%= button_tag(type: :submit, class: 'btn btn-primary btn-sm', id: '') do %>
                  Save
              <% end %>
        <% end %>

        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>

        </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade-scale" id="investmentDetailsModal" role="dialog">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Investment Details</h4>
      </div>

      <div class="modal-body">
        <table class="table table-responsive table-bordered">
          <thead class="thead-default">
          <tr class="table-row">
            <th>Month</th>
            <th>Interest</th>
            <th>Paid Interest</th>
            <th>Paid Date</th>
            <th>Pending Interest</th>
            <th>Paid By</th>
          </tr>
          </thead>
          <tbody id="inv-mon-det_tbody">

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



