<%= form_for @material, :html => { :class => "form-horizontal material" } do |f| %>

  <% if @material.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @material.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.date_field :date, :class => 'form-control',required: true, value: @material.date %>
    </div>
    <%=f.error_span(:date) %>

    <%= f.label :time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.time_field :time, :class => 'form-control', required: true, value: @material.time %>
    </div>
    <%=f.error_span(:time) %>
  </div>
  <div class="form-group">
      <%= f.hidden_field :site_id, value: params[:site_id], readonly: true, :class => 'form-control', required: true %>

    <%= f.label :supplier_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%
        supplier_names = ['Select Supplier']
        Supplier.all.each do |supplier|
          if supplier.deleting_status === "false" || supplier.deleting_status.blank?
            supplier_names.push([supplier.name,supplier.id])
          end
        end %>
      <% if !@material.supplier.blank? %>
        <%= f.select(:supplier_id, options_for_select(supplier_names,:disabled=> 'Select Supplier', selected: @material.supplier.name),
                   {}, class: 'form-control') %>
      <% else %>
          <%= f.select(:supplier_id, options_for_select(supplier_names,:disabled=> 'Select Supplier', selected: 'Select Supplier'),
                       {}, class: 'form-control') %>
      <% end %>
    </div>
     <%=f.error_span(:supplier_id) %>

  </div>
  <div class="form-group">
    <%= f.label :type_of_material, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :type_of_material, value: params[:type_of_material], readonly: true, :class => 'form-control', required: true %>
    </div>
    <%=f.error_span(:type_of_material) %>

    <%= f.label :quantity, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 input-group">
      <%= f.text_field :quantity, :class => 'form-control', required: true %>
      <span class="input-group-addon">
        <%
          material_unit = ['Unit']
          MaterialList.all.each do |material|
            if !material.material_unit.blank?
              material_unit.push([material.material_unit])
            end
          end %>
        <% if !@material.unit.blank? %>
          <%= f.select(:unit, options_for_select(material_unit,:disabled=> 'Unit', :selected => @material.unit),
                     {}, class: 'selectpicker') %>
        <% else %>
          <%= f.select(:unit, options_for_select(material_unit,:disabled=> 'Unit', :selected => 'Unit'),
                       {}, class: 'selectpicker') %>
        <% end %>
      </span>
      <%=f.error_span(:quantity) %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :challan_no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :challan_no, :class => 'form-control', required: true %>
    </div>
    <%=f.error_span(:challan_no) %>

    <%= f.label :truck_no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :truck_no, :class => 'form-control', required: true %>
    </div>
    <%=f.error_span(:truck_no) %>

  </div>
  <% if current_user.role === 'ADMIN' || current_user.role === 'ACCOUNTANT' %>
      <div class="form-group">
        <%= f.label :rate, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :rate, :class => 'form-control', required: true %>
        </div>
        <%=f.error_span(:rate) %>

        <%= f.label :amount, :class => 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :amount, :class => 'form-control', required: true, readonly: true %>
        </div>
        <%=f.error_span(:amount) %>
      </div>
  <% end %>
  <% if current_user.role === 'SUPERVISOR' %>
    <div class="form-group">
      <%= f.label :supervisor_name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.text_field :supervisor_name, :class => 'form-control', :value => current_user.user_name,readonly: true, required: true %>
      </div>
      <%=f.error_span(:supervisor_name) %>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <input type="submit" name="commit" value="Save" class="btn btn-primary" data-disable-with="Create Material">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                materials_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

