<%- model_class = Supplier -%>
<div class="page-header">
  <h3><%= 'Suppliers'.upcase %>
    <span class="pull-right">
      <%= link_to 'Add Supplier',
                  new_supplier_path,
                  :class => 'btn btn-primary btn-sm' %>
    </span>
  </h3>
</div>

<div class="row">
  <% @suppliers.each do |supplier| %>
      <% if supplier.deleting_status === 'false' || supplier.deleting_status.blank? %>
          <div class="col-md-3 col-sm-5 col-xs-11">
            <div class="panel panel-primary">
              <div class="panel-heading" style="height: 6rem;">
                <h4><strong><%= supplier.name %></strong></h4>
              </div>
              <div class="panel-body" style="height: 10rem;">
                <strong>Address: </strong> <%= supplier.address %> <br />
                <strong>Contact: </strong> <%= number_to_phone(supplier.contact_number, :country_code => 91) %> <br />
              </div>
              <div class="panel-footer text-center">
                <%= link_to 'View', supplier_path(supplier), class: 'btn btn-warning btn-sm' %>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
<%= will_paginate @suppliers, renderer: BootstrapPagination::Rails%>
