<%- model_class = Supplier -%>
<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="text-center">
            <span class="pull-left">
            <%= link_to suppliers_path do %>
              <i class="glyphicon glyphicon-arrow-left btn btn-warning"></i>
            <% end %>
            </span>
            <strong><%= @supplier.name.upcase %></strong>
          </div>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
            <dd><%= @supplier.address %></dd>
            <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
            <dd><%= @supplier.email %></dd>
            <dt><strong><%= model_class.human_attribute_name(:contact_number) %>:</strong></dt>
            <dd><%= number_to_phone(@supplier.contact_number, :country_code => 91) %></dd>
            <dt><strong><%= model_class.human_attribute_name(:contact_person) %>:</strong></dt>
            <dd><%= @supplier.contact_person %></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Total Amount: &#8377; <%= number_to_indian_currency(@supplier.total_amount.to_f.round(2)) %></strong><br/>
          <strong>Paid Amount: &#8377; <%= number_to_indian_currency(@supplier.paid_amount.to_f.round(2)) %></strong><br/>
          <strong>Balance Amount: &#8377; <%= number_to_indian_currency((@supplier.total_amount.to_f - @supplier.paid_amount.to_f).round(2)) %></strong>
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <button class="btn btn-primary btn-sm btn-block" id="payment-btn-on-booking"
                    data-toggle="modal" data-target="#paymentDetailsModal">Payment Details</button>
          </div>
          <div class="col-md-4">
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_supplier_path(@supplier), :class => 'btn btn-info btn-sm btn-block' %>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary btn-sm btn-block" id="payment-btn-on-booking"
                    data-toggle="modal" data-target="#outstandingsModal">Outstandings</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding: 20px;">
<%= form_tag supplier_path, method: :get, id: 'filters', class: 'form-inline' do %>

    From Date: <%= date_field_tag :from_date, params[:from_date], placeholder: 'Date',
                class: 'form-control', id: 'from-date' %>
    To Date: <%= date_field_tag :to_date, params[:to_date], placeholder: 'Date',
                class: 'form-control', id: 'to-date' %>
    <%= button_tag(type: :submit, class: 'btn btn-success', id: '') do %>
      <i class="fa fa-search"></i>
    <% end %>
    <%= link_to 'Print',supplier_path(supplier_params, id: @supplier.id, from_date: params[:from_date], to_date: params[:to_date], format: :pdf), :class => 'btn btn-primary btn-sm' %>
<% end %>
</div>
<div style="overflow: auto">
  <table class="table table-responsive table-bordered">
    <thead>
    <tr>
      <th>Site Name</th>
      <th>Material Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Truck No</th>
      <th>Challan No</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Amount</th>
      <th>GST</th>
      <th>Supervisor</th>
    </tr>
    </thead>
    <tbody>

    <% @material.each do |material| %>
        <tr>
          <td><%= material.site.name.upcase %></td>
          <td><%= material.type_of_material %></td>
          <td><%= Date.parse(material.date).strftime('%d-%m-%Y') %></td>
          <td><%= Time.strptime(material.time, '%H:%M').strftime('%I:%M %P') %></td>
          <td><%= material.truck_no %></td>
          <td><%= material.challan_no %></td>
          <td><%=  material.quantity.to_f.round(2) %> <%= material.unit %></td>
          <td>&#8377; <%= number_to_indian_currency(material.rate) %>/<%= material.unit %></td>
          <td>&#8377; <%= number_to_indian_currency(material.amount.to_f.round(2)) %></td>
          <td>&#8377; <%= number_to_indian_currency(material.gst_cost.to_f.round(2)) %></td>
          <td><%= material.supervisor_name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @material, renderer: BootstrapPagination::Rails%>
<!-- ********************************************************************************************** -->

<!-- Modal -->
<div class="modal fade-scale" id="paymentDetailsModal" role="dialog">
  <div class="modal-dialog " role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Supplier's Payment Details</h4>
      </div>
      <div class="modal-body">
        <div style="overflow: auto">
          <table class="table table-bordered table-responsive">
            <thead>
            <tr>
              <th>Date</th>
              <th>Site</th>
              <th>Amount</th>
              <th>Pay. Method</th>
              <th>Desc.</th>
              <th>Paid By</th>
            </tr>
            </thead>
            <tbody>
            <% @outgoing_payment = OutgoingPayment.where("payment_for = 'MATERIAL/SUPPLIER' AND payment_for_id = ?", @supplier.id).order('Date(date) DESC') %>
            <% @outgoing_payment.each do |payments| %>
                <tr>
                  <td><%= Date.parse(payments.date).strftime('%d-%m-%Y') %></td>
                  <td><%= payments.site.name %></td>
                  <td>&#8377; <%= number_to_indian_currency(payments.amount) %></td>
                  <td><%= payments.payment_method %></td>
                  <td><%= payments.payment_description %></td>
                  <td><%= payments.paid_by %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="pull-right"><strong>Total paid Amount: &#8377; <%= number_to_indian_currency(@supplier.paid_amount) %></strong> </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- ********************************************************************************************** -->


<!-- Modal -->
<div class="modal fade-scale" id="outstandingsModal" role="dialog">
  <div class="modal-dialog " role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Outstandings</h4>
      </div>
      <div class="modal-body">
        <div style="overflow: auto">
            <table class="table table-bordered table-responsive">
              <thead>
              <tr>
                <th>Site Name</th>
                <th>Total Amount</th>
                <th>Paid Amount</th>
                <th>Balance Amount</th>
              </tr>
              </thead>
              <tbody>

              <% @sites.each do |site| %>
                  <tr>
                    <td><%= site.name.upcase %></td>
                    <%
                      total_amount = 0
                      paid_amount = 0
                    %>
                    <%
                      @outgoing_payment = OutgoingPayment.where(:site_id => site, payment_for_id: @supplier.id, :payment_for => 'MATERIAL/SUPPLIER')

                      @outgoing_payment.each do |outgoing_payment|
                        paid_amount += outgoing_payment.amount.to_f
                      end
                    %>
                    <% @site_wise = Material.where(:site_id => site, :supplier_id => @supplier) %>
                    <% @site_wise.each do |site_wise| %>
                        <% total_amount += site_wise.amount.to_f %>
                    <% end %>
                    <td>&#8377; <%= number_to_indian_currency(total_amount.round(2)) %></td>
                    <td>&#8377; <%= number_to_indian_currency(paid_amount.round(2)) %></td>
                    <td>&#8377; <%= number_to_indian_currency((total_amount - paid_amount).round(2)) %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- ********************************************************************************************** -->
