<script type="text/javascript">
    $(document).ready(function() {
        $('.multiselect').multiselect();
    });
</script>
<%= form_for @site, :html => { :class => "form-horizontal site" } do |f| %>

  <% if @site.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :site_type, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.select(:site_type, options_for_select([['Select type'],['Residential','Residential'],
                                                     ['Commercial','Commercial'], ['Residential+Commercial','Residential+Commercial']],
                                                    :disabled=> 'Select type', :selected=> @site.site_type),
                     {}, class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
    <%= f.label :type_of_structures, :class => 'control-label col-lg-2' %>
      <div class="col-lg-3">
        <% if @site.type_of_structures.blank? %>
            <%= f.select :type_of_structures,
                         options_from_collection_for_select(TypeOfStructure.all, :name, :name),
                         {include_hidden: false},
                         {class: 'multiselect', multiple: true, required: true} %>
        <% else  %>
            <% flat_types = @site.type_of_structures.split(',') %>
            <%= f.select :type_of_structures,
                         options_from_collection_for_select(TypeOfStructure.all, :name, :name, flat_types),
                         {include_hidden: false},
                         {class: 'multiselect', multiple: true, required: true} %> Make sure you have selected correct fields
        <% end %>


      </div>
      <span class="col-lg-1">
        <%= link_to 'Add New', type_of_structures_index_path, class: 'label label-default' %>
      </span>
    </div>

    <div class="form-group">
      <%= f.label :no_of_wings, :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.select(:no_of_wings, options_for_select([['Select'],['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],
                                                       ['6','6'],['7','7'],['8','8'],['9','9'],['10','10']],
                                                             :disabled=> 'Select', :selected=> @site.no_of_wings),
                     {}, class: 'form-control') %>
      </div>
    </div>

  <div class="form-group">
    <%= f.label :no_of_units, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :no_of_units, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :area_of_plot, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :area_of_plot, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :project_approved_by, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :project_approved_by, :class => 'form-control' %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label 'Site Photo', :class => 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <%= f.file_field :photo_path, :class => 'form-control' %>
      </div>
    </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <% if @site.id != nil %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  site_path(@site), :class => 'btn btn-default' %>
      <% else %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      sites_path, :class => 'btn btn-default' %>
      <% end %>
    </div>
  </div>

<% end %>