<%- model_class = Site -%>
<div class="page-header">
  <h3><%= 'All Sites'.upcase %>
    <% if current_user.role != 'SUPERVISOR' and current_user.role != 'ENGINEER' %>
      <span class="pull-right">
        <%= link_to 'Add Site',
                    new_site_path,
                    :class => 'btn btn-primary btn-sm' %>
      </span>
    <% end %>
  </h3>
</div>

<div class="row">
<% @sites.each do |site| %>
 <div class="col-lg-4 col-md-6 col-sm-6 site-card" style="margin-top: 2rem; margin-bottom: 2rem;">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="card-title">
        <strong><%= site.name.upcase %></strong>
        <% if site.materials.where(is_rate_added: false).count > 0 %>
          <span class="label label-danger pull-right blink_me">New material to add rate</span>
        <% end %>
      </h4>
    </div>
    <div class="panel-body" style="padding: 0 !important;">
      <% if site.photo_path.blank? %>
          <%= image_tag 'Default-Home.jpg', class: 'img-responsive' %>
      <% else %>
          <%= image_tag site.photo_path.url, class: 'img-responsive' %>
      <% end  %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Visit', site_path(site), class: 'btn btn-warning btn-sm btn-block' %>
    </div>
    <div class="card-data text-muted text-center">
      <% if site.site_type === "Residential+Commercial" || site.site_type === "Commercial" %>
          Booked Flats <span class="badge"> <%= (site.flats.where(:booking_status=>1).count - site.flats.where(:flat_type => 'SHOP', :booking_status => 1).count) %></span>
          Booked Shops <span class="badge"> <%= site.flats.where(:booking_status=>1, :flat_type => 'SHOP').count %></span>
      <% else %>
          Booked Flats <span class="badge"> <%= site.flats.where(:booking_status=>1).count %></span>
      <% end %>
    </div>
  </div>
 </div>
<% end %>
</div>

