<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>Customer Name (Flat No.)</th>
    <th>Contact</th>
    <th>Total Amount</th>
    <th>Received Amount</th>
    <th>Outstanding amount</th>
  </tr>
  </thead>
  <tbody>
  <% total_amount = 0
      total_paid = 0 %>
  <% @site.flats.order(:flat_number).each do |flat| %>
    <% if flat.booking_detail %>
        <tr>
          <td><%= link_to flat.booking_detail.gender+' '+flat.booking_detail.customer_name, booking_detail_path(flat.booking_detail) %> (<%= flat.booking_detail.flat.flat_number %>)</td>
          <td><%= flat.booking_detail.customer_contact %></td>
          <td>&#8377; <%= number_to_indian_currency(flat.booking_detail.final_sale_deed.to_f.round(2)) %></td>
          <% total_amount = total_amount + flat.booking_detail.final_sale_deed.to_f %>
          <td>&#8377; <%= number_to_indian_currency(flat.booking_detail.paid_amount.to_f.round(2)) %></td>
          <% total_paid = total_paid + flat.booking_detail.paid_amount.to_f %>
          <td>&#8377; <%= number_to_indian_currency((flat.booking_detail.final_sale_deed.to_f.round(2) - flat.booking_detail.paid_amount.to_f.round(2)).round(2)) %></td>
        </tr>
    <% end %>
  <% end %>
  <tr >
    <td colspan="2"><strong>Totals</strong></td>
    <td><strong>&#8377; <%= number_to_indian_currency(total_amount.to_f.round(2)) %></strong></td>
    <td><strong>&#8377; <%= number_to_indian_currency(total_paid.to_f.round(2)) %></strong></td>
    <td><strong>&#8377; <%= number_to_indian_currency((total_amount.to_f - total_paid.to_f).round(2)) %></strong></td>
  </tr>
  </tbody>
</table>