<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-2">
        <%= link_to site_path(@site) do %>
            <i class="glyphicon glyphicon-arrow-left btn btn-warning"></i>
        <% end %>
      </div>
      <div class="col-md-4">
        <h4>
          <strong><%= params[:type_of_material] %></strong>
          <span class="pull-right"></span>
        </h4>
        <h4><span class="label label-primary"><%= @site.name.upcase %></span></h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= link_to "Add #{params[:type_of_material].capitalize}", {:controller => "materials", :action => "new", :site_id => params[:id],:type_of_material => params[:type_of_material] },
                    :class => 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>
</div>
<div style="overflow: auto">
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Supplier</th>
        <th>Truck No</th>
        <th>Challan No</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
        <th>Supervisor</th>
      </tr>
    </thead>
    <tbody>
    <% if @material.blank? %>
      <tr>
        <td colspan="9" class="text-center"><strong><%= params[:type_of_material] %> was not supplied on this site.</strong></td>
      </tr>
    <% else %>
        <%
          total_amount = 0.0
          total_quantity = 0.0
        %>
      <% @material.each do |material| %>
        <tr>
          <td><%= material.date %></td>
          <td><%= material.time %></td>
          <td><%= material.supplier.name %></td>
          <td><%= material.truck_no %></td>
          <td><%= material.challan_no %></td>
          <td><%= material.quantity.to_f %> <%= material.unit %></td>
          <td>&#8377; <%= material.rate %>/<%= material.unit %></td>
          <td>&#8377; <%= material.amount.to_f %></td>
          <td><%= material.supervisor_name %></td>
        </tr>
              <%
                total_quantity = total_quantity + material.quantity.to_f
                total_amount = total_amount + material.amount.to_f
              %>
      <% end %>
        <tr><td colspan="6">
          <strong>Total Quantity: <%= total_quantity.round(2) %> <%= @material.first.unit %></strong></td>
          <td colspan="9"><strong>Total Amount: &#8377; <%= total_amount.round(2) %></strong></td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>
<div class="pull-right">

</div>
