<div class="page-header">
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-2">
        <%= link_to site_path(@site) do %>
            <i class="glyphicon glyphicon-arrow-left btn btn-warning"></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4>
          <strong><%= @supplier.name.upcase %></strong>
          <span class="pull-right"></span>
        </h4>
        <h4><span class="label label-default"><%= @site.name.upcase %></span></h4>
      </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-2 col-sm-6 col-xs-5">
          <button class="btn btn-danger btn-sm btn-block" id="payment-btn-on-booking"
                  data-toggle="modal" data-target="#paymentModal">Pay</button>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-7">
          <button class="btn btn-primary btn-sm btn-block" id="payment-btn-on-booking"
                  data-toggle="modal" data-target="#paymentDetailsModal">Payment Details</button>
        </div>
    </div>
  </div>
</div>
<div style="overflow:auto;">
  <table class="table table-bordered table-responsive">
    <thead>
    <tr>

      <th>Material Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Truck No</th>
      <th>Challan No</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Amount</th>
      <th>GST</th>
      <th>Supervisor</th>
    </tr>
    </thead>
    <%
      total_amount = 0
    %>
    <tbody>

        <% @material.each do |material| %>
            <tr>
              <td><%= material.type_of_material %></td>
              <td><%= Date.parse(material.date).strftime('%d-%m-%Y') %></td>
              <td><%= Time.strptime(material.time, '%H:%M').strftime('%I:%M %P') %></td>
              <td><%= material.truck_no %></td>
              <td><%= material.challan_no %></td>
              <td><%=  material.quantity.to_f %> <%= material.unit %></td>
              <td>&#8377; <%= material.rate.to_f.round(2) %>/<%= material.unit %></td>
              <td>&#8377; <%= material.amount.to_f.round(2) %></td>
              <td>&#8377; <%= material.gst_cost.to_f.round(2) %></td>
              <td><%= material.supervisor_name %></td>
            </tr>

        <% end %>
        <% paid_amount = 0 %>
        <% OutgoingPayment.where(:site_id => @site.id, :payment_for => 'MATERIAL/SUPPLIER', :payment_for_id => @supplier.id).each do |payment|
              paid_amount += payment.amount.to_f
            end
        %>
    <%
      @site.materials.where(:supplier_id => params[:supplier]).each do |material|
         total_amount = total_amount + material.amount.to_f
      end
    %>
    </tbody>
  </table>
</div>
<div class="pull-right">
  <strong>Total Amount: &#8377; <%= total_amount.round(2) %></strong><br/>
  <strong>Paid Amount: &#8377; <%= paid_amount.round(2) %></strong><br/>
  <strong>Balance Amount: &#8377; <span id="supplier-balance-amount"><%= total_amount.round(2) - paid_amount.round(2) %></span></strong>
</div>
<%= will_paginate @material, renderer: BootstrapPagination::Rails%>
<!-- ********************************************************************************************** -->

<!-- Modal -->
<div class="modal fade" id="paymentModal" role="dialog">
  <div class="modal-dialog modal-sm" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Supplier's Payment</h4>
      </div>
      <% if (total_amount.round(2) - paid_amount.round(2)) <= 0 %>
          <div class="modal-body">
            <h4>There is no balance amount for this supplier on this site.</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
          </div>
      <% else %>
          <div class="modal-body">
            <%= form_tag update_supplier_payment_path, method: :get, id: 'suppliers-payment_form'  do %>
            <div class="form-group">
            <%= date_field_tag :payment_date, params[:payment_date],placeholder: 'Select Date',
                               class: 'form-control search-box', id: 'search-box', required: true %>
            </div>
            <div class="form-group">
            <%= text_field_tag :amount, params[:amount],placeholder: 'Amount',
                               class: 'form-control currently_paying_amount', id: 'payable_amount', required: true %>
            </div>
            <div class="form-group">
            <%= select_tag :payment_method, options_for_select([['Payment Method'],['CASH','CASH'],['CHEQUE','CHEQUE']],:disabled=> 'Payment Method'),
                           class: 'form-control', id: 'payment_method', required: true %>
            </div>
            <div class="form-group">
            <%= text_field_tag :payment_desc, params[:payment_desc],placeholder: 'Payment Description',
                               class: 'form-control search-box', id: 'payment_desc', required: true %>
            </div>
            <div class="form-group">
            <%= text_field_tag :paid_by, params[:paid_by],placeholder: 'Paid By',value: current_user.user_name ,
                               class: 'form-control search-box', id: 'paid_by', readonly: true %>
            </div>
            <%= hidden_field_tag :payment_for, params[:payment_for], value: 'MATERIAL/SUPPLIER' %>
            <%= hidden_field_tag :id, params[:id], value: @supplier.id %>
            <%= hidden_field_tag :site_id, params[:site_id], value: @site.id %>
            <%= hidden_field_tag :max_payable_amount, params[:max_payable_amount], value: total_amount - paid_amount %>
          </div>
          <div class="modal-footer">
            <%= button_tag(type: :submit, class: 'btn btn-primary btn-sm',
                           id: 'suppliers-payment-save-btn') do %>
                Save
            <% end %>
        <% end %>
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      <% end %>
        </div>
        </div>

  </div>
</div>
<!-- ********************************************************************************************** -->
<!-- ********************************************************************************************** -->

<!-- Modal -->
<div class="modal fade" id="paymentDetailsModal" role="dialog">
  <div class="modal-dialog " role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Supplier's Payment Details</h4>
      </div>
      <div class="modal-body">
        <div style="overflow: auto">
          <table class="table-responsive table table-stripped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Pay. Method</th>
                <th>Desc.</th>
                <th>Paid By</th>
              </tr>
            </thead>
            <tbody>
                <% @site.outgoing_payments.where(:payment_to => @supplier.name).each do |payments| %>
                    <% if payments.blank? %>
                        <tr>
                          <td colspan="5">
                            <h4 class="text-center">No Record</h4>
                          </td>
                        </tr>
                    <% else %>
                    <tr>
                      <td><%= Date.parse(payments.date).strftime('%d-%m-%Y') %></td>
                      <td>&#8377; <%= payments.amount.to_f.round(2) %></td>
                      <td><%= payments.payment_method %></td>
                      <td><%= payments.payment_description %></td>
                      <td><%= payments.paid_by %></td>
                    </tr>
                    <% end %>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- ********************************************************************************************** -->
