<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-2">
        <%= link_to site_path(@site) do %>
            <i class="glyphicon glyphicon-arrow-left btn btn-warning"></i>
        <% end %>
      </div>
      <div class="col-md-8">
        <h4>
          <strong><%= params[:type_of_material] %></strong>
          <span class="pull-right"></span>
        </h4>
        <h4><span class="label label-primary"><%= @site.name.upcase %></span></h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= link_to "Add #{params[:type_of_material].capitalize}", {:controller => "materials", :action => "new", :site_id => params[:id],:type_of_material => params[:type_of_material] },
                    :class => 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>
</div>
<div style="overflow: auto">
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Desc</th>
        <th>Supplier</th>
        <th>Truck No</th>
        <th>Challan No</th>
        <th>Quantity</th>
        <% if current_user.role != 'SUPERVISOR' %>
          <th>Bill No</th>
          <th>Rate</th>
          <th>GST Rate</th>
          <th>GST</th>
          <th>Amount</th>
        <% end %>
        <th>Supervisor</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% if @material.blank? %>
      <tr>
        <td colspan="10" class="text-center"><strong><%= params[:type_of_material] %> was not supplied on this site.</strong></td>
      </tr>
    <% else %>
        <%
          total_amount = 0.0
          total_quantity = 0.0
        %>
      <% @material.each do |material| %>
        <tr>
          <td><%= Date.parse(material.date).strftime('%d-%m-%Y') %></td>
          <td><%= Time.strptime(material.time, '%H:%M').strftime('%I:%M %P') %></td>
          <td><%= material.description %></td>
          <td><%= material.supplier.name %></td>
          <td><%= material.truck_no %></td>
          <td><%= material.challan_no %></td>
          <td><%= material.quantity.to_f %> <%= material.unit %></td>
          <% if current_user.role != 'SUPERVISOR' %>
            <td><%= material.bill_no %></td>
            <td>&#8377; <%= material.rate.to_f.round(2) %>/<%= material.unit %></td>
            <td><%= material.gst_rate %> %</td>
            <td>&#8377; <%= material.gst_cost.to_f.round(2) %></td>
            <td>&#8377; <%= material.amount.to_f.round(2) %></td>
          <% end %>
          <td><%= material.supervisor_name %></td>
          <td><%= link_to 'Edit', {controller: 'materials', action: 'edit', id: material.id,
                                   site_id: @site, type_of_material: params[:type_of_material] },
                          class: 'btn btn-primary btn-block btn-xs' %></td>
          <% if current_user.role != 'SUPERVISOR' %>
            <td>
              <div class="form-group">
                <a class="btn btn-primary btn-block btn-xs" data-toggle="modal"
                   id="material-<%= material.id %>" data-dl-id="<%= material.id %>" data-quantity="<%= material.quantity.to_f %>" data-target="#addRateSiteMaterial">
                Add Rate
                </a>
              </div>
            </td>
              <!-- ************************* Script ****************************** -->
              <script type="text/javascript">
                  $('#material-<%= material.id %>').on('click', function () {
                      //get data-id attribute of the clicked element
                      var material_id = $(this).data('dl-id');
                      var quantity = $(this).data('quantity');
                      //populate the textbox
                      $("#addRateSiteMaterial").find('input[name="material_id"]').val(material_id);
                      $("#addRateSiteMaterial").find('input[name="quantity"]').val(quantity);
                  });
              </script>
              <!-- ************************** end ******************************** -->
          <% end %>
        </tr>
      <% end %>
        <%
          @site.materials.where(:type_of_material => params[:type_of_material]).each do |material|
            total_quantity = total_quantity + material.quantity.to_f
            total_amount = total_amount + material.amount.to_f
          end
        %>
        <% if current_user.role != 'SUPERVISOR' %>
          <tr><td colspan="6">
            <strong>Total Quantity: <%= total_quantity.round(2) %> <%= @material.first.unit %></strong></td>
            <td colspan="9"><strong>Total Amount: &#8377; <%= total_amount.round(2) %></strong></td>
          </tr>
        <% end %>
    <% end %>

    </tbody>
  </table>
</div>
<%= will_paginate @material, renderer: BootstrapPagination::Rails%>
<!-- Modal -->
<div class="modal fade-scale" id="addRateSiteMaterial" role="dialog">
  <div class="modal-dialog modal-sm" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Add Material Rate</h4>
      </div>

      <div class="modal-body">
        <%= form_tag update_material_rate_path, method: :get, id: 'add-material-rate-form'  do %>
            <%= hidden_field_tag :material_id, params[:material_id] %>
            <%= hidden_field_tag :quantity %>
            <div class="form-group">
            <%= text_field_tag :bill_no, params[:bill_no],placeholder: 'Bill No',
                               class: 'form-control', required: true %>
            </div>
            <div class="form-group">
              <%= text_field_tag :material_rate, params[:rate],placeholder: 'Rate per Quantity',
                                 class: 'form-control', id: 'new_material_rate', required: true %>
            </div>
            <div class="form-group">
              <%= text_field_tag :amount, params[:amount],placeholder: 'Amount',
                                 class: 'form-control', id: 'material_amount', required: true, readonly: true %>
            </div>
            <div class="form-group">
            <%= select_tag :gst_rate, options_for_select([['GST Rate'],['0%','0'],['5%','5'],['12%','12'],['18%','18'],['28%','28']],
                                                     :disabled=> 'GST Rate'),
                       class: 'form-control', required: true, id: 'material_gst_rate' %>
            </div>
            <div class="form-group">
            <%= text_field_tag :gst_cost, params[:gst_cost], placeholder: 'GST Cost', id: 'material_gst_cost',
                               class: 'form-control', required: true, readonly: true %>
            </div>
            <%= hidden_field_tag :rate_added_by, params[:rate_added_by], value: current_user.user_name %>
            <%= hidden_field_tag :rate_added_at, params[:rate_added_at], value: Time.now %>
            </div>
            <div class="modal-footer">
              <%= button_tag(type: :submit, class: 'btn btn-primary btn-sm',
                             id: 'save-paid-amount') do %>
                  Save
              <% end %>
        <% end %>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>

        </div>

  </div>
</div>

