<%- model_class = BookingDetail -%>

<div class="page-header">
  <h3>Search Result</h3>
</div>
<hr/>
<% if @search_list.blank? %>
    <div class="row col-md-offset-1">
      <%= @search_list %>
      <h3>Nothing found... <i class="fa fa-exclamation-triangle"></i></h3>
    </div>
<% else %>
<div class="row col-md-offset-1">
  <% if @booking_detail %>
    <% @booking_detail.each do |customer| %>
      <div class="col-md-4 col-sm-5 col-xs-11">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <strong><%= customer.customer_name %></strong> (Customer)
          </div>
          <div class="panel-body">
            <div class="pull-left"><strong>Address : </strong><%= customer.customer_address %></div>
            <div class="pull-left"><strong>Contact No : </strong><%= customer.customer_contact %></div>
          </div>
          <div class="panel-footer">
            <span class="text-center">
              <%= link_to 'View', booking_detail_path(customer), class: 'btn btn-primary btn-sm btn-block' %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @supplier %>
      <% @supplier.each do |supplier| %>
          <div class="col-md-4 col-sm-5 col-xs-11">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <strong><%= supplier.name %></strong> (Supplier)
              </div>
              <div class="panel-body">
                <div class="pull-left"><strong>Address : </strong><span><%= supplier.address %></span></div>
                <div class="pull-left"><strong>Contact No : </strong><span><%= supplier.contact_number %></span></div>
              </div>
              <div class="panel-footer">
            <span class="text-center">
              <%= link_to 'View', supplier_path(supplier), class: 'btn btn-primary btn-sm btn-block' %>
            </span>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>

  <% if @contractor %>
      <% @contractor.each do |contractor| %>
          <div class="col-md-4 col-sm-5 col-xs-11">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <strong><%= contractor.name %></strong> (Contractor)
              </div>
              <div class="panel-body">
                <div class="pull-left"><strong>Address : </strong><span><%= contractor.address %></span></div>
                <div class="pull-left"><strong>Contact No : </strong><span><%= contractor.contact_number %></span></div>
              </div>
              <div class="panel-footer">
            <span class="text-center">
              <%= link_to 'View', contractor_path(contractor), class: 'btn btn-primary btn-sm btn-block' %>
            </span>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>

</div>

<% end %>